# Directories #
build/
bin/
target/
libs/
tmp/
node_modules/

# OS Files #
.DS_Store

*.class

# Package Files #
*.jar
*.war
*.ear
*.db
rebel.xml

######################
# Windows
######################

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# NetBeans
######################
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

######################
# IDEA
######################
*.iml
*.ipr
*.iws
.idea/
atlassian-ide-plugin.xml


######################
# Eclipse
######################
*.pydevproject
.project
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
